@font-face {
    font-family: Vasco;
    src: url(../fontes/fonte_vasco.ttf);
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

main {
    width: 90%;
    /* border: 2px solid black; */
    margin: auto;
    padding: 10px;
}

/* HEADER */
header {
    background-color: #1B1E1A;
    color: white;
    border-bottom: 10px solid rgb(207, 255, 3);
    padding: 30px;
    margin-bottom: 30px;
}

header h1 {
    font-family: Vasco, sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    margin: 0px;
    letter-spacing: 3px;
    padding-left: 15px;
}

/* MENU */
header nav {
    /* border: 2px solid blue; */
    text-align: right;
}

header nav ul {
    /* border: 2px solid yellow; */
    display: inline-block;
    text-align: center;
    font-size: 20px;
}

header nav ul li {
    padding: 15px;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header nav ul li a {
    text-decoration: none;
    padding: 5px;
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    color: rgb(207, 255, 3);
}

/*///////////////////////////////////////////////////*/

main {
    width: 80%;
    padding-bottom: 50px;
    padding-top: 25px;
    margin: auto;
}

.conteudo-main h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: auto;

}

input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

input[type="radio"] {
    margin-right: 5px;
}

label {
    display: block;
    width: 522px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-size: 18px;
}

select {
    width: 522px;
    font-size: 18px;
}

.radios {
    margin-bottom: 15px;
    display: flex;
}

.radios label {
    font-weight: bold;
    color: #333;
    display: block;
    width: 522px;
    margin-bottom: -5px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.botao {
    text-align: center;
    padding: 10px;
}

#botao-submit {
    font-size: 25px;
    border-radius: 6px;
    font-weight: bold;
    padding: 15px 50px 15px 50px;
    font-family: 'Open Sans', sans-serif;

    text-decoration: none;
    background-color: #c8102e;
    color: white;
}

#botao-submit:hover {
    transform: scale(1.05);
}

/* FOOTER */

footer {
    background-color: #1B1E1A;
    color: #fbfdfd;
    margin: auto;

    /* Também coloquei margin-top para o footer ficar afastado dos planos */
    margin-top: 100px;

    border-top: 10px solid rgb(207, 255, 3);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

    /* mesma coisa */
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.footer-caixa {
    display: flex;
    gap: 150px;
    margin: 20px;
    justify-content: center;
}

.footer-logo-e-slogan {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical*/
}

.footer-logo-e-slogan img {
    width: 25%;
    padding-top: 25px;
}

.footer-links-rapidos ul {
    list-style: none;
    padding: 0;
}

.footer-links-rapidos ul li {
    margin-bottom: 8px;
}

.footer-links-rapidos ul li a {
    color: white;
    text-decoration: none;
}

.footer-rodape {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #444;
    padding-top: 10px;
    color: #888;
    padding-bottom: 5px;
}

@media (max-width: 1024px) {
    
    main{
        margin: auto;
    }
    .footer-caixa {
        flex-direction: column;
    }

    .footer-links-rapidos {
        text-align: center;
    }

    .footer-desenvolvedores {
        text-align: center;
    }
}

@media (max-width: 700px) {
    main{
        margin: auto;
    }
    .form-container {
        width: 95%;
        padding: 20px;
        box-shadow: none;
        margin: auto;
    }

    .form-container label,
    .form-container select {
        width: 100%;
    }

    .form-container input[type="text"],
    .form-container input[type="email"],
    .form-container input[type="date"],
    .form-container select,
    .form-container textarea {
        font-size: 16px;
        padding: 8px;
    }

    .radios {
        flex-direction: column;
    }

    .radios label {
        width: 100%;
    }

    #botao-submit {
        font-size: 20px;
        padding: 12px 30px;
    }

    .conteudo-main h1 {
        font-size: 30px;
        padding: 0 10px;
    }
}