body{
    margin: 0;
    background-color: gray;
}

main{
    padding: 10px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.conteudo h1{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

.conteudo h2{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.conteudo p{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.container{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}




figure{
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    margin: auto;
    border-radius: 50%;
    background-color: white;
    background-image: url(../imagens/socio-torcedor-logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    padding: 10px;
    justify-content: center;
}

ul li {
    list-style: none;
    padding-left: 0;
    padding-top: 5px;
    text-align: left;
}

@media screen and (max-width:756px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ul{
        width: 300px;
        margin: auto;
        text-align: center;
    }
    .email {
        border-top: 1px solid black;
        margin-top: 10px;
    }
}

