@font-face {
    font-family: Vasco;
    src: url(../fontes/fonte_vasco.ttf);
}

body {
    margin: 0;
}

/* HEADER */
header {
    background-color: #1B1E1A;
    color: white;
    border-bottom: 10px solid rgb(207, 255, 3);
    padding: 30px;
    margin-bottom: 30px;
}

header h1 {
    font-family: Vasco, sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    margin: 0px;
    letter-spacing: 3px;
    padding-left: 15px;
}

/* MENU */
header nav {
    text-align: right;
}

header nav ul {
    display: inline-block;
    text-align: center;
    font-size: 22px;
}

header nav ul li {
    padding: 15px;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header nav ul li a {
    text-decoration: none;
    padding: 5px;
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    color: rgb(207, 255, 3);
}

/* BANNER */

main {
    width: 90%;
    margin: auto;
    padding: 10px;
}

.banner {
    text-align: center;
    font-size: large;
}

.banner p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.banner h2 {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

#imagem-vasco {
    height: 380px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    display: block;
    box-sizing: border-box;
    background-image: url(../imagens/torcida.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
}

/* CARD */
.planos {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.plano {
    width: 185px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 1px 3px #1B1E1A;
}

.plano h3 {
    text-align: center;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.plano ul {
    list-style: none;
    flex-grow: 1;
    padding: 5px;
    /* padding-bottom: 30px; */
}

.plano p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.plano ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.plano:hover {
    transform: scale(1.10);
}

.rodape-plano p {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    align-self: flex-end;
}

.rodape-plano a {
    background-color: #c8102e;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;

    display: block;
    text-align: center;
    text-decoration: none;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

/* FOOTER */

footer {
    background-color: #1B1E1A;
    color: #fbfdfd;
    margin: auto;

    /* Também coloquei margin-top para o footer ficar afastado dos planos */
    margin-top: 100px;

    border-top: 10px solid rgb(207, 255, 3);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

    /* mesma coisa */
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.footer-caixa {
    display: flex;
    gap: 150px;
    margin: 20px;
    justify-content: center;
}

.footer-logo-e-slogan {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical*/
}

.footer-logo-e-slogan img {
    width: 25%;
    padding-top: 25px;
}

.footer-links-rapidos ul {
    list-style: none;
    padding: 0;
}

.footer-links-rapidos ul li {
    margin-bottom: 8px;
}

.footer-links-rapidos ul li a {
    color: white;
    text-decoration: none;
}

.footer-rodape {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #444;
    padding-top: 10px;
    color: #888;
    padding-bottom: 5px;
}

@media screen and (max-width: 730px) {
    header h1{
        font-size: 50px;
        text-align: center;
    }
    header nav{
        text-align: center;
        margin: auto;
        display: flex;
    }

    .titulo{
        display: none;
    }
}
@media (max-width: 1024px) {

    .footer-caixa {
        flex-direction: column;
    }

    .footer-links-rapidos {
        text-align: center;
    }

    .footer-desenvolvedores {
        text-align: center;
    }


}