@font-face {
    font-family: Vasco;
    src: url(../fontes/fonte_vasco.ttf);
}

body {
    /* border: 2px solid red; */
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

main {
    width: 90%;
    /* border: 2px solid black; */
    margin: auto;
    padding: 10px;
}

/* HEADER */
header {
    background-color: #1B1E1A;
    color: white;
    border-bottom: 10px solid rgb(207, 255, 3);
    padding: 30px;
    margin-bottom: 30px;
}

header h1 {
    font-family: Vasco, sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    margin: 0px;
    letter-spacing: 3px;
    padding-left: 15px;
}

/* MENU */
header nav {
    /* border: 2px solid blue; */
    text-align: right;
}

header nav ul {
    /* border: 2px solid yellow; */
    display: inline-block;
    text-align: center;
    font-size: 20px;
}

header nav ul li {
    padding: 15px;
    display: inline-block;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header nav ul li a {
    text-decoration: none;
    padding: 5px;
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    color: rgb(207, 255, 3);
}

table{
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 1px 3px #1B1E1A;
}

th{
    text-align: center;
}


footer {
    background-color: #1B1E1A;
    color: #fbfdfd;
    margin: auto;

    /* Também coloquei margin-top para o footer ficar afastado dos planos */
    margin-top: 100px;

    border-top: 10px solid rgb(207, 255, 3);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /* mesma coisa */
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.footer-caixa {
    display: flex;
    gap: 150px;
    margin: 20px;
    justify-content: center;
}

.footer-logo-e-slogan {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical*/
}

.footer-logo-e-slogan img {
    width: 25%;
    padding-top: 25px;
}

.footer-links-rapidos ul {
    list-style: none;
    padding: 0;
}

.footer-links-rapidos ul li {
    margin-bottom: 8px;
}

.footer-links-rapidos ul li a {
    color: white;
    text-decoration: none;
}


.footer-rodape {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #444;
    padding-top: 10px;
    color: #888;
    padding-bottom: 5px;
}